<article>
    <a class="post-card" href="{{ post.url }}">
        {% if post.data.image %}
            <img src="{{ post.data.image }}" alt="{{ post.data.title }} thumbnail" class="post-image" loading="lazy" style="width: 100%; height: auto; border-radius: 0.5rem;">
        {% endif %}
        <div>
            <h2>{{ post.data.title }}</h2>
            {% if post.data.image %}
                <p class="description">{{ post.data.description | truncatewords: 10 }}</p>
            {% else %}
                <p class="description">{{ post.data.description | truncatewords: 10 }}</p>
            {% endif %}
            <p class="post-meta">
                <span class="post-date">{{ post.data.date | date: "%B %d, %Y" }}</span>
            </p>
        </div>
    </a>
</article>
